<div>
    <h1>Utente</h1>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveUtenteModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="girosApp.utente.home.createLabel">Create a new Utente</span>
    </button>

    <div class="space">
        <strong>Colunas visíveis:</strong>
        <ul class="nav nav-pills nav-columns">
            <li class="text-primary"><input type="checkbox" ng-model="colIDVisible"> ID</li>
            <li class="text-primary"><input type="checkbox" ng-model="colNomeVisible"> Nome</li>
            <li class="text-primary"><input type="checkbox" ng-model="colDataNascimentoVisible"> Data de Nascimento</li>
            <li class="text-primary"><input type="checkbox" ng-model="colBIVisible"> BI/CC/Passaporte</li>
            <li class="text-primary"><input type="checkbox" ng-model="colValidadeBIVisible"> Validade BI/...</li>
            <li class="text-primary"><input type="checkbox" ng-model="colSexoVisible"> Sexo</li>
            <li class="text-primary"><input type="checkbox" ng-model="colNISSVisible"> NISS</li>
            <li class="text-primary"><input type="checkbox" ng-model="colNacionalidadeVisible"> Nacionalidade</li>
            <li class="text-primary"><input type="checkbox" ng-model="colDataRegistoVisible"> Data Registo</li>
            <li class="text-primary"><input type="checkbox" ng-model="colCaracteristicasVisible"> Características</li>
            <li class="text-primary"><input type="checkbox" ng-model="colTipologiaVisible"> Tipologia</li>
        </ul>
    </div>

    <div class="modal fade" id="saveUtenteModal" tabindex="-1" role="dialog" aria-labelledby="myUtenteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form name="editForm" role="form" ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUtenteLabel" translate="girosApp.utente.home.createOrEditLabel">Create or edit a Utente</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="utente.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="girosApp.utente.nome">Nome</label>
                            <input type="text" class="form-control" name="nome"
                                   ng-model="utente.nome" required>

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.datanascimento">Data de Nascimento</label>
                            <input type="date" class="form-control" name="datanascimento"
                                   ng-model="utente.datanascimento">

                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label translate="girosApp.utente.bi">Bi</label>
                                    <input type="text" class="form-control" name="bi"
                                           ng-model="utente.bi">

                                </div>
                                <div class="col-lg-6">
                                    <label translate="girosApp.utente.validadebi">Validade BI</label>
                                    <input type="date" class="form-control" name="validadebi"
                                           ng-model="utente.validadebi">

                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <br>
                            <label>
                                <i class="fa fa-mars fa-lg"></i>
                                <input type="radio" ng-model="utente.sexo" value="m">
                                Masculino
                            </label>
                            &nbsp;
                            <label>
                                <i class="fa fa-venus fa-lg"></i>
                                <input type="radio" ng-model="utente.sexo" value="f">
                                Feminino
                            </label>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <label translate="girosApp.utente.niss">Niss</label>
                                    <input type="text" class="form-control" name="niss"
                                           ng-model="utente.niss">

                                </div>
                                <div class="col-lg-6">
                                    <label translate="girosApp.utente.nacionalidade">Nacionalidade</label>
                                    <select ng-model="utente.nacionalidade" class="dropdown">
                                        <option></option>
                                        <option ng-value="pais.name" ng-repeat="pais in paises.paises">{{pais.name}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.dataregisto">Data de Registo</label>
                            <input type="date" class="form-control" name="dataregisto"
                                   ng-model="utente.dataregisto">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.caracteristicas">Caracteristicas</label>
                            <input type="text" class="form-control" name="caracteristicas"
                                   ng-model="utente.caracteristicas" rows="6">

                        </div>

                        <div class="form-group">
                            <label translate="girosApp.utente.tipologiaAmigos">tipologiaAmigos</label>
                            <select class="form-control" name="tipologiaAmigos" ng-model="utente.tipologiaAmigos.id" ng-options="tipologia.id as tipologia.descricao for tipologia in tipologias">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUtenteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(utente.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="girosApp.utente.delete.question" translate-values="{value: '{{utente.nome}}'}">Are you sure you want to delete this Utente?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br><br>
    <div class="search">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label translate="girosApp.utente.nome">Nome</label>
                    <input type="text" class="form-control" name="nome" ng-model="pesqName">
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-xs-12">
                    <label translate="girosApp.utente.caracteristicas">Caracteristicas</label>
                    <input type="text" class="form-control" name="caract" ng-model="pesqCaract">
                </div>
            </div>

            <br>
            <label translate="girosApp.utente.nacionalidade">Nacionalidade</label>
            <select ng-model="pesqNacio" class="dropdown">
                <option></option>
                <option ng-value="pais.name" ng-repeat="pais in paises.paises">{{pais.name}}</option>
            </select>

            <br>
            <label translate="girosApp.utente.tipologia">Tipologia</label>
            <select ng-model="pesqTipologia">
                <option></option>
                <option ng-value="tipologia.id" ng-repeat="tipologia in tipologias">{{tipologia.descricao}}</option>
            </select>

            <div class="text-right">
                <!-- button type="submit" ng-click="pesquisar()" class="btn btn-success btn-md">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    &nbsp;
                    Pesquisar
                </1--button -->
                <button type="submit" ng-click="limpar()" class="btn btn-default btn-md">
                    <i class="fa fa-eraser"></i>
                    &nbsp;
                    <span translate="entity.action.clean">Limpar</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th ng-show="colIDVisible">ID</th>
                    <th ng-show="colNomeVisible">Nome</th>
                    <th ng-show="colDataNascimentoVisible">Data de Nascimento</th>
                    <th ng-show="colBIVisible">BI/CC/Passaporte</th>
                    <th ng-show="colValidadeBIVisible">Validade BI/...</th>
                    <th ng-show="colNISSVisible">NISS</th>
                    <th ng-show="colSexoVisible">Sexo</th>
                    <th ng-show="colNacionalidadeVisible">Nacionalidade</th>
                    <th ng-show="colDataRegistoVisible">Data de Registo</th>
                    <th ng-show="colCaracteristicasVisible">Características</th>
                    <th ng-show="colTipologiaVisible">Tipologia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="utente in utentes | filter:{nome:pesqName,nacionalidade:pesqNacio,caracteristicas:pesqCaract,tipologiaAmigos:searchTipologia}">
                    <td ng-show="colIDVisible"><a ui-sref="utenteDetail({id:utente.id})">{{utente.id}}</a></td>
                    <td ng-show="colNomeVisible">{{utente.nome}}</td>
                    <td ng-show="colDataNascimentoVisible">{{utente.datanascimento}}</td>
                    <td ng-show="colBIVisible">{{utente.bi}}</td>
                    <td ng-show="colValidadeBIVisible">{{utente.validadebi}}</td>
                    <td ng-show="colNISSVisible">{{utente.niss}}</td>
                    <td ng-show="colSexoVisible">{{utente.sexo}}</td>
                    <td ng-show="colNacionalidadeVisible">{{utente.nacionalidade}}</td>
                    <td ng-show="colDataRegistoVisible">{{utente.dataregisto}}</td>
                    <td ng-show="colCaracteristicasVisible">{{utente.caracteristicas}}</td>
                    <td ng-show="colTipologiaVisible">{{utente.tipologiaAmigos.descricao}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="utenteDetail({id:utente.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                                ng-click="update(utente.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button type="submit"
                                ng-click="delete(utente.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

