<div>
    <h2 translate="girosApp.utente.home.title">Utente</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveUtenteModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> <span translate="girosApp.utente.home.createLabel">Create a new Utente</span>
    </button>
    <div class="modal fade" id="saveUtenteModal" tabindex="-1" role="dialog" aria-labelledby="myUtenteLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myUtenteLabel" translate="girosApp.utente.home.createOrEditLabel">Create or edit a Utente</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="utente.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="girosApp.utente.nome">Nome</label>
                            <input type="text" class="form-control" name="nome"
                                   ng-model="utente.nome">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.datanascimento">Datanascimento</label>
                            <input type="date" class="form-control" name="datanascimento"
                                   ng-model="utente.datanascimento">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.bi">Bi</label>
                            <input type="text" class="form-control" name="bi"
                                   ng-model="utente.bi">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.validadebi">Validadebi</label>
                            <input type="date" class="form-control" name="validadebi"
                                   ng-model="utente.validadebi">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.sexo">Sexo</label>
                            <input type="text" class="form-control" name="sexo"
                                   ng-model="utente.sexo">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.niss">Niss</label>
                            <input type="text" class="form-control" name="niss"
                                   ng-model="utente.niss">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.nacionalidade">Nacionalidade</label>
                            <input type="text" class="form-control" name="nacionalidade"
                                   ng-model="utente.nacionalidade">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.dataregisto">Dataregisto</label>
                            <input type="date" class="form-control" name="dataregisto"
                                   ng-model="utente.dataregisto">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.caracteristicas">Caracteristicas</label>
                            <input type="text" class="form-control" name="caracteristicas"
                                   ng-model="utente.caracteristicas">

                        </div>
                        <div class="form-group">
                            <label translate="girosApp.utente.activo">Activo</label>
                            <input type="checkbox" class="form-control" name="activo"
                                   ng-model="utente.activo">

                        </div>

                        <div class="form-group">
                            <label translate="girosApp.utente.tipologiaAmigos">tipologiaAmigos</label>
                            <select class="form-control" name="tipologiaAmigos" ng-model="utente.tipologiaAmigos.id" ng-options="tipologia.id as tipologia.id for tipologia in tipologias">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteUtenteConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(utente.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="girosApp.utente.delete.question" translate-values="{id: '{{utente.id}}'}">Are you sure you want to delete this Utente?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="search">
        <div class="form-group">
            <label translate="girosApp.utente.nome">Nome</label>
            <input type="text" name="nome" ng-model="pesqName">

            <label translate="girosApp.utente.nacionalidade">Nacionalidade</label>
            <select ng-model="pesqNacio">
                <option></option>
                <option ng-value="pais.name" ng-repeat="pais in paises.paises">{{pais.name}}</option>

            </select>
            <label translate="girosApp.utente.tipologia">Tipologia</label>
            <select ng-model="pesqTipologia">
                <option></option>
                <option ng-value="tipologia.id" ng-repeat="tipologia in tipologias">{{tipologia.nome}}</option>

            </select>
            <button type="submit" ng-click="pesquisar()">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
        <div class="form-group">


        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th translate="girosApp.utente.nome">Nome</th>
                    <th translate="girosApp.utente.datanascimento">Datanascimento</th>
                    <th translate="girosApp.utente.bi">Bi</th>
                    <th translate="girosApp.utente.validadebi">Validadebi</th>
                    <th translate="girosApp.utente.sexo">Sexo</th>
                    <th translate="girosApp.utente.niss">Niss</th>
                    <th translate="girosApp.utente.nacionalidade">Nacionalidade</th>
                    <th translate="girosApp.utente.dataregisto">Dataregisto</th>
                    <th translate="girosApp.utente.caracteristicas">Caracteristicas</th>
                    <th translate="girosApp.utente.activo">Activo</th>
                    <th translate="girosApp.utente.tipologiaAmigos">tipologiaAmigos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="utente in utentes">
                    <td><a ui-sref="utenteDetail({id:utente.id})">{{utente.id}}</a></td>
                    <td>{{utente.nome}}</td>
                    <td>{{utente.datanascimento}}</td>
                    <td>{{utente.bi}}</td>
                    <td>{{utente.validadebi}}</td>
                    <td>{{utente.sexo}}</td>
                    <td>{{utente.niss}}</td>
                    <td>{{utente.nacionalidade}}</td>
                    <td>{{utente.dataregisto}}</td>
                    <td>{{utente.caracteristicas}}</td>
                    <td>{{utente.activo}}</td>
                    <td>{{utente.tipologiaAmigos.id}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="utenteDetail({id:utente.id})"
                                class="btn btn-info">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ng-click="update(utente.id)"
                                class="btn btn-primary">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ng-click="delete(utente.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
