<div ng-cloak>

    <h1>Giro</h1>
    <br>
    <div class="row">
        <div class="col-xs-2">
            <label>Data</label>
            <input type="date" class="form-control" name="data"
                   ng-model="giroCab.data">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <label>Observações</label>
            <textarea class="form-control" name="observacoes" placeholder="Texto livre" rows="8"
                   ng-model="giroCab.observacoes"></textarea>

        </div>
    </div>
    <br>

    <div class="table-responsive">
        <table id="tecnicoTable"class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th class="text-center">Selecionado</th>
                <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
            <tr ng-repeat="tecnico in tecnicos">
                <td>{{tecnico.id}}</td>
                <td>{{tecnico.nome}}</td>
                <td class="text-center"><input type="checkbox" ng-model="tecnico.checked"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-right">
        <button ng-click="saveGiro()" ui-sref="home" class="btn btn-success btn-lg">
            <span>Guardar</span>
        </button>
        <a ui-sref="home" class="btn btn-default btn-lg">
            <span>Cancelar</span>
        </a>
    </div>
</div>

